<br />

<div class="container">
  <div class="row">
    <div class="col-8">
      <label class="my-3">Núm páginas</label><br /><label class="my-3"
        >Núm idiomas</label
      >
    </div>
    <div class="col-4">
      <div class="row">
        <button class="w-25 my-2 btn" (click)="decrementPags()">-</button>
        <input
          class="w-50 my-2"
          type="number"
          [(ngModel)]="pags"
          (ngModelChange)="pagsChange.emit($event)"
        />
        <button class="w-25 my-2 btn" (click)="incrementPags()">+</button><br />
      </div>
      <div class="row">
        <button class="w-25 my-2 btn" (click)="decrementIdiomas()">-</button>
        <input
          class="w-50 my-2"
          type="number"
          [(ngModel)]="idiomas"
          (ngModelChange)="idiomasChange.emit($event)"
        />
        <button class="w-25 my-2 btn" (click)="incrementIdiomas()">+</button>
      </div>
    </div>
  </div>
  <div><app-modal></app-modal></div>
</div>
