<div class="container mx-auto my-auto">
  <button class="btn btn-outline-primary" (click)="toggle()">
    {{ buttonName }}
  </button>
  <div *ngIf="showCalculator">
    <!-- <form [formGroup]="calculator">-->
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-sm-12 w-40">
          <div class="row align-self-center justify-content-center">
            <h1>Pressupost</h1>
            <div class="col-4">
              <label class="my-2 mx-2"> Nom del client </label><br />
              <label class="my-2 mx-2"> Nom del pressupost </label>
            </div>
            <div class="col-8 align-self-start">
              <input
                type="text"
                [(ngModel)]="nameClient"
                class="my-2 mx-2"
              /><br /><input
                type="text"
                [(ngModel)]="nameBudget"
                class="my-2 mx-2"
              />
            </div>
            <div class="row justify-content-center">
              <mat-checkbox
                color="primary"
                id="web"
                [(ngModel)]="web"
                (change)="calculatePrice(); togglePanel()"
              >
                Web 500€
                <div *ngIf="showPanel">
                  <app-panell
                    [(pags)]="pags"
                    [(idiomas)]="idiomas"
                    (pagsChange)="calculatePrice()"
                    (idiomasChange)="calculatePrice()"
                    ><br />
                  </app-panell>
                </div>
              </mat-checkbox>

              <mat-checkbox
                color="primary"
                id="seo"
                [(ngModel)]="seo"
                (change)="calculatePrice()"
              >
                Seo 300€
              </mat-checkbox>
              <mat-checkbox
                color="primary"
                id="google"
                [(ngModel)]="google"
                (change)="calculatePrice()"
              >
                Google 200€
              </mat-checkbox>
            </div>
          </div>

          <p>Preu: {{ precioTotal }}</p>
          <button
            (click)="saveBudget(); showBudgets()"
            class="btn btn-outline-success"
          >
            Save budget
          </button>
          <!--</form>-->
        </div>

        <div class="col-xl-8 col-sm-12 w-60" *ngIf="showList">
          <app-pressupost-list></app-pressupost-list>
        </div>
      </div>
    </div>
  </div>
</div>
